driver: {{ liquibase_driver_class }}
classpath: {{ liquibase_driver_dest }}
url: {{ liquibase_url }}
username: {{ liquibase_username }}
password: {{ liquibase_password }}
changeLogFile: {{ liquibase_changelog }}
